<%- layout("/boilerplate.ejs") %>
<body>
    <div class="container mt-3">
        <h1>Update Information</h1>
        <form action="/mentor/update/<%= mentor._id %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" value="<%= mentor.name %>" required>
            </div>
            <div class="form-group mt-2">
                <label for="expertise">Expertise:</label>
                <input type="text" class="form-control" name="expertise" value="<%= mentor.expertise %>" required>
            </div>
            <div class="form-group mt-2">
                <label for="experience">Experience (Years):</label>
                <input type="number" class="form-control" name="experience" value="<%= mentor.experience %>" required>
            </div>
            <div class="form-group mt-2">
                <label for="location">Location:</label>
                <input type="text" class="form-control" name="location" value="<%= mentor.location %>" required>
            </div>
            <div class="form-group mt-2">
                <label for="contactInfo.email">Email:</label>
                <input type="email" class="form-control" name="contactInfo.email" value="<%= mentor.email %>" required>
            </div>
            <div class="form-group mt-2">
                <label for="contactInfo.phone">Phone:</label>
                <input type="text" class="form-control" name="contactInfo.phone" value="<%= mentor.phone %>" required>
            </div>
            <div class="form-group mt-2">
                <label for="bio">Bio:</label>
                <textarea class="form-control" name="bio" rows="4" required><%= mentor.bio %></textarea>
            </div>
            <div class="form-group mt-2">
                <label for="availability">Availability:</label>
                <input type="text" class="form-control" name="availability" value="<%= mentor.availability %>" required>
            </div>
            <div class="form-group mt-2">
                <label for="logoUrl">Update Picture</label>
                <input type="file" class="form-control" name="logoUrl">
                <img src="<%= mentor.logoUrl.url %>" alt="Investor Logo" class="mt-2" style="max-width: 150px;">
            </div>
            <button type="submit" class="btn btn-primary mt-3 mb-3">Update Mentor</button>
        </form>
    </div>
</body>

